fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-multipart
python-jose[cryptography]
email-validator
jinja2==3.1.4
passlib[bcrypt]==1.7.4
bcrypt==3.2.0
python-escpos
pyusb
Pillow
pandas
openpyxl
xhtml2pdf
fpdf2
